<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('bundles/goulunotpowerpoint/css/newslideshow.css') }}" type="text/css" rel="stylesheet" />
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery-ui.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery.hilightfade.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery.jeditable.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/edit.js') }}" /></script>
        <title>This is not powerpoint</title>
    </head>
    <body>
        <div id="wrapper">
            <div id="topmenu">
                <div id="editor_toolbar">
                    <span class="editor_item" id="slide_name">Esityksen nimi: <input type="text" id="slideshow_name" value="My Slideshow"></span>
                    <span class="editor_item" id="editor_item2">Pohja <select><option>Oletus</option><option>Markiisi</option></select></span>
                    <span class="editor_item" id="editor_item3"></span>
                </div>
                <div id="buttonmenu">
                    <span class="button" id="add_slide"><img src="{{ asset('bundles/goulunotpowerpoint/img/icon/document_add.png') }}"/></span>
                    <span class="button" id="element_text"><img src="{{ asset('bundles/goulunotpowerpoint/img/icon/file_edit.png') }}"/></span>
                    <span class="button" id="element_rectangular"><img src="{{ asset('bundles/goulunotpowerpoint/img/icon/message.png') }}"/></span>
                    <span class="button"></span>
                    <span class="button"></span>
                    <span class="button" id="save"><img src="{{ asset('bundles/goulunotpowerpoint/img/icon/diskette.png') }}"/></span>
                </div>
            </div>  
            <div id="leftmenu">
                <span class="slide_navigator_top">

                </span>
                <div class="slide_selection">

                </div>
                <span class="slide_navigator_bottom">

                </span>
            </div>

            <div id="content_wrapper">
                <div id="slide_content">
                    
                </div>
            </div>
        </div>
    <div class="slideshowInfoWrapper">
            <div id="currentlyActiveSlide"></div>
            <div id="currentlyActiveElement"></div>
            <div id="slideshowName"></div>
            <div id="slideshowId"></div>
    </div>
    </body>
</html>
