<html>

    <head>
        <title>This is not powerpoint</title>
        <link href="{{ asset('bundles/goulunotpowerpoint/css/showslideshow.css') }}" type="text/css" rel="stylesheet" />
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery-ui.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/jquery.bxSlider.min.js') }}" /></script>
        <script src="{{ asset('bundles/goulunotpowerpoint/js/submitmail.js') }}" /></script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('#slider1').bxSlider({
                auto: true,
                mode: 'fade',
                speed: 2000,
                pause: 5000,
                startingSlide: 1,
                controls: false
            });
        });
        </script>
        <script>
            $(document).ready(function(){
	$(".trigger").click(function(){
		$(".panel").toggle("fast");
                $("#error").empty();
                $("#name").val('');			
		$("#phone").val('');
		$("#email").val('');
		$(this).toggleClass("active");
		return false;
	});
});
	</script>
    </head>
    <body>
        <ul id="slider1">
            {% for slide in slides %}
            <li>
                slidenumber = {{ slide.slidenumber }} <br/>
                {{ slide.content }}
            </li>
            {% endfor %}
        </ul>      
        <div class="panel">
            <div class="panelform">   
                Name:<input type="text" id="name"/><br/>
                Phone:<input type="text" id="phone"/><br/>
                Email:<input type="text" id="email"/><br/>
                <button id="submitmail" >Submit</button>
                <p id="error"></p><br/>
            </div>
            
        </div>
        <a class="trigger" href="#">Contact!</a>
    </body>     
</html>